/* Определение переменных для светлой и темной темы background*/
/* src/index.css */
@import url("https://fonts.googleapis.com/css2?family=Sigmar&display=swap");

body {
  font-family: "Sigmar", cursive;
  margin: 0;
  padding: 0;
}

:root {
  --background-light: #f4f6f9; /* Светлый фон */
  --background-dark: #1c1c1e; /* Темный фон */
}

/* Стиль для элементов на светлой теме */
html:not(.dark) {
  background-color: var(--background-light);
}

/* Стиль для элементов на темной теме */
html.dark {
  background-color: var(--background-dark);
}

/* В CSS-файле */

/* h1 {
  font-family: "Open Sans", sans-serif;
} */
